* {
    background-color: rgba(0, 0, 0, 0.147);
    }
    h1 {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 2cm;
    text-align: center;
    }
    
    
    td {
    border: 2px solid #333;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    cursor: pointer;
    }
    
    
    table {
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top: 50px;
    }
    
    
    a {
    color: gold;
    }
    
    
    .endgame {
    display: none;
    width: 200px;
    top: 120px;
    background-color: rgba(205,133,63, 0.8);
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;
    }
    
    