* {
    background-color: rgb(255, 255, 255);
    }
    
    
    .comp {
    color: rgb(12, 12, 12);
    background-color: rgb(255, 255, 255);
    }
    
    
    a {
    text-align: center;
    color: rgb(5, 5, 5);
    }
    
    
    h2 {
    text-align: center;
    }