* {
    background-color: cyan;
    }
    
    
    .comp {
    color: orange;
    background-color: aqua;
    }
    
    
    a {
    text-align: center;
    color: gold;
    }
    
    
    h2 {
    text-align: center;
    }